:root {
  --text: #fbfbf2;
  --prmary-color: #24272c;
  --secondary-color: #fbb13c;
  --light-blue: #6699cc;
  --rosy-brown: #dc9596;
}

.parentcls { 
  display: flex;
  position: relative;
}

* {
  position: relative;
}
body {
  width: 100%;
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: var(--prmary-color);
  position: relative;
}

 {
  transition: transform 0.3s ease;
  transform: translateX(100%);
}